<section class="card shadow tilt-in-fwd-tl">
  <div class="card-body">
    <h1>Info</h1>
    <hr class="my-4" />
    <p>
      Características principales:<br>
      Inicio de sesión: Nuestra aplicación te permite crear una cuenta y acceder a ella utilizando un inicio de sesión
      seguro. Tus notas estarán protegidas y solo podrás acceder a ellas con tus credenciales personales.
      <br>
      Registro de usuarios: Si eres nuevo en la aplicación, puedes crear una cuenta rápidamente y empezar a utilizarla.
      Solo necesitas proporcionar algunos datos básicos para completar el proceso de registro.
      <br>
      Cierre de sesión: Siempre que desees cerrar tu sesión, puedes hacerlo fácilmente con un solo clic. Esto garantiza
      que nadie más pueda acceder a tu cuenta sin tu autorización.
      <br>
      Añadir notas: Con nuestra aplicación, puedes crear notas rápidamente. Ya sea que necesites hacer una lista de
      tareas pendientes, tomar notas durante una reunión o simplemente guardar información importante, podrás hacerlo de
      manera sencilla y eficiente.
      <br>
      Editar notas: ¿Te diste cuenta de un error o necesitas actualizar el contenido de una nota existente? No hay
      problema. Puedes editar tus notas en cualquier momento y asegurarte de que la información esté siempre
      actualizada.
      <br>
      Eliminar notas: Si una nota ya no es relevante o simplemente quieres deshacerte de ella, nuestra aplicación te
      permite eliminarla con facilidad. Esto te ayuda a mantener tu espacio de trabajo limpio y organizado.
      <br>
      <hr class="my-4" />
      Tecnologías utilizadas:
      <br>
      Node.js: Hemos desarrollado nuestra aplicación utilizando Node.js, un entorno de ejecución de JavaScript que
      permite construir aplicaciones web altamente escalables y eficientes en el lado del servidor.
      <br>
      MongoDB: Utilizamos MongoDB como nuestra base de datos. MongoDB es una base de datos NoSQL altamente flexible y
      escalable que nos permite almacenar y recuperar los datos de manera eficiente.
      <br>
      Express.js: Para facilitar el desarrollo de la aplicación y gestionar las rutas y peticiones HTTP, utilizamos
      Express.js, un framework de aplicaciones web de Node.js. Express.js nos ayuda a crear una API robusta y fácil de
      usar.
      <br>
      <hr class="my-4" />
      Estamos entusiasmados de que pruebes nuestra aplicación de notas y esperamos que te resulte útil para organizar tu
      vida diaria. ¡Disfruta de una experiencia de toma de notas sin complicaciones!
    </p>
  </div>
</section>