<div class="row">
  <div class="col-md-8 mt-5 mx-auto">
    <div class="card bg-black text-white p-3 shadow card-index">
      <div class="card-header p-3">
        <h3 class="text-center">
          Iniciar Sesión
        </h1>
      </div>
      <img
        class="mx-auto d-block logo mt-4"
        src="/img/notes.svg"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password">Contraseña:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            Iniciar
          </button>
        </form>
      </div>

      <p class="text-center">No Tienes una Cuenta? <a href="/auth/signup" class="text-info">Registrar</a></p>
    </div>
  </div>
</div>